/* App.css */

.table-container {
  padding: 10px;
  /* overflow-x: auto; */
  border-radius: 10px;
  overflow: hidden;
}

.utilButtons {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.table {
  /* margin: 40px 10px; */
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px; /* Add border radius to the table */
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 6px;
  background-color: #f5f5f5; /* Set background color for table cells */
}

.table th {
  background-color: #e3eaf8; /* Set background color for table headers */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 10px;
}

.pagination__link {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0 0.25rem;
  cursor: pointer;
  background-color: #f8f8f8; /* Set background color for pagination links */
  color: #333; /* Set text color for pagination links */
}

.pagination__link--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__link--active {
  color: #3182ce;
  font-weight: bold;
}

@media (max-width: 550px) {
  .table {
    font-size: 10px; /* Decrease font size for smaller screens */
  }

  .table th,
  .table td {
    padding: 1px; /* Decrease cell padding for smaller screens */
  }
}
